<div id="<%= dom_id instagram_user_profile %>">
  <p>
    <strong>Avatar:</strong>
    <%= instagram_user_profile.avatar %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= instagram_user_profile.bio %>
  </p>

</div>
